body{
    background-image: url(./pexels-photo-733857.jpeg);
    background-size: cover;
    color: #001427;
}
.new-student-input{
    text-align: center;
}
.student-info{
    text-align: center;
    width: 400px;
    list-style: none;
}

.student-display{
    padding-left: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
@media (max-width:1335px){
body{

}
.new-student-input{
    text-align: center;
}
.new-student-name{

}
.new-student-course{

}
.student-info{

}
}
@media (max-width:1000px){
    body{
        color: brown;
        background-image: url(./pngtree-exam-study-student-background-image_247270.jpg);
        background-size: contain;
        background-repeat: inherit;
    }
    .app{
        padding-left: 35%;
        display: flex;
        flex-direction: column;

    }
    .new-student-input{

        width: 200px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .new-student-course{
        display: flex;

        width: 200px;

    }
    .student-info{
        text-align: left;
        padding-left: 0%;
    }
}